:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --cyan: hsl(179, 88%, 35%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Karla', sans-serif;
}

.main-container {
    background-color: #2f4f4f;
    width: 40rem;
    height: 17rem;
    margin-top: 5rem;
}

.header-container {
    padding-top: 1.2rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
}

.footer-container {
    display: flex;
    flex-direction: row;
    height: 15rem;
}

.footer-left {
    background-color: #3BB2AF;
    width: 50%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--light-gray);
    line-height: 1rem;
}

.footer-right {
    background-color: #4ABEBD;
    width: 50%;
    padding-left: 2.5rem;
    padding-top: 1.6rem;
    line-height: 1.2rem;
    color: var(--light-gray);
}

#signup-button {
    width: 14.5rem;
    height: 2.5rem;
    color: white;
    font-weight: 700;
    border: none;
    box-shadow: 0px 10px 12px #1d8294;
    background-color: var(--bright-yellow);
    border-radius: 0.2rem;
    align-items: center;
    justify-content: center;
}

#signup-button:hover {
    background-color: #a1bb2c;
}

a {
    text-decoration: none;
    color: var(--white);
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 16px;
}

#30thirtydays {
    font-weight: 700;
}


#monthlysubs {
    font-weight: 700;

}

#dollar {
    font-size: 35px;
    font-weight: 700;
}

#permonth {
    color: #5FD6D3;
    padding-top: -0.5rem;
    margin-left: 0.5rem;
}

#fullaccess {
    margin-top: 0.1rem;
    margin-bottom: 1.5rem;
}

#whyus {
    font-weight: 700;
}